body {
    font-family: Lato;
    font-smoothing: antialiased;
  }
  
  *, *:hover, *:active {
    outline: none !important;
  }

  a:hover {
    text-decoration: none !important;
  }
  
  a:active, a:focus {
    text-decoration: none !important;
  }

  .container {
    max-width: 1140px;
  }

  .container-fluid {
    padding: 0% 20%;
  }

  h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    color: #10808C;
  }

  .titolo-grande h2 {
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
    width: 75%;
  }

  .titolo-piccolo h3 {
    text-align: left;
  }

  h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    color: #F2613A;
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: #10808C;
  }
  
  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #595959;
  }


/* Landing header */
  header {
    height: 80px;
    display: flex!important; 
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #00000029;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
  }

  header .fa {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 900;
  }
  
  header a {
    color: #10808C !important;
    font-weight: 900;
    font-size: 16px;
  }
  
  header a:hover {
    color: #f2613a !important;
  }

  header img {
    height: 51px;
    width: auto;
  }


  /* Footer */
  footer {
    background: #2A2A2A;
    padding: 30px 0;
  }
  
  footer p {
    color: #BBBBBB;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    opacity: 1;
  }
  
  footer a {
    font-size: 14px;
    color: #BBBBBB;
    letter-spacing: 0px;
    margin-bottom: 6px;
    display: inline-block;
  }
  
  footer a:hover {
    color: #fff;
  }

  #cerificate img {
    width: 180px;
  }

  footer .border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #BBBBBB!important;
  }

  footer .fa {
    font-size: 20px;
  }

/* Landing hero */
  .hero {
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10% 0%;
    color: #ffffff;
    background-color: #ffffff;
    margin-bottom: 10%;
  }

  .hero p {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
  }

  .hero.dark {
    margin-bottom: 0;
  }

  .hero.dark h1 {
    color: #000;
  }

  .hero.dark p {
    color: #10808C;
  }

  .hero.dark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Landing buttons */
  .landing-btn {
    background: #FFFFFF1A;
    border: 1px solid #FFFFFF!important;
    padding: 2rem 3.5rem;
    border: none;
    margin: auto;
    margin-top: 10%;
  }

  .dark .landing-btn,
  .landing-btn:hover {
    background: #F2613A;
    padding: 2rem 3.5rem;
    border: none;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #F2613A!important;
  }

  .landing-btn a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .dark .landing-btn:hover {
    background: #FFFFFF;
    border: 1px solid #F2613A!important;
  }

  .dark .landing-btn:hover a {
    color: #F2613A;
  }

  /* Titolo + sottotitolo - testo */
  .titolo-testo,
  .titolo-video {
    padding-bottom: 10%;
  }

  .titolo-testo .left p,
  .titolo-video .left p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }


  /* Titolo + testo - immagine */
  .left {
    padding-right: 25px;
  }

  .right {
    padding-left: 25px;
  }

  .testo-img {
    padding-bottom: 10%;
  }

  .testo-img img {
    width: 100%;
    object-fit: cover;
    height: 50vh;
  }


  /* Titlo h1 + button - testo*/
  .titolo-btn-testo {
    padding: 10% 0%;
    margin-bottom: 10%;
  }

  .titolo-btn-testo .landing-btn {
    background: transparent;
  }

  .titolo-btn-testo .landing-btn:hover {
    background: #F2613A;
  }

  .titolo-btn-testo.nero {
    background-color: #292929;
    color: #FFFFFF;
  }

  .titolo-btn-testo.azzuro {
    background-color: #007883;
    color: #FFFFFF;
  }

  .titolo-btn-testo.arancione {
    background-color: #F2613A;
    color: #FFFFFF;
  }

  .titolo-btn-testo.nero p,
  .titolo-btn-testo.azzuro p,
  .titolo-btn-testo.arancione p {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
  }

  .titolo-btn-testo.arancione h1 ,
  .titolo-btn-testo.arancione p {
    color: #000;
  }


  .titolo-btn-testo.arancione .landing-btn:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF!important;
  }

  .titolo-btn-testo.arancione .landing-btn:hover a {
    color: #F2613A;
  }


  /* Cards con immagine, titolo h4 e testo */
 .cards {
  padding-bottom: 10%;
 }

 .cards .card {
  border: none;
 }

 .cards .card p {
  color: #595959e2;
 }

 .cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 .cards .card .img-container {
  width: 10rem;
  height: 10rem;
  background-color: #595959;
 }

 /* Full image + slideshow */
 .full-img,
 .img-gallery,
 .full-video {
  padding-bottom: 10%;
 }

 .full-img .img-container {
  width: 100%;
 }

 .full-img .img-container img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
 }

 .full-video iframe {
  height: 50vh;
 }

 .swiper-pagination-bullet {
  background-color: #10808C;
  opacity: 1;
  border-radius: 0;
  width: 12px;
  height: 6px;
 } 

 .swiper-pagination-bullet-active {
  background-color: #F46030;
  opacity: 1;
 } 

 /* Gallery */
 .gallery .swiper-container {
  width: 100%;
  height: 100%;
}

.gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

  /* Contacts form */
  .contacts {
    background: #F46030 none repeat scroll 0 0;
    color: #fff;
    margin-top: 5px;
    padding: 60px 0;
    font-family: Lato;
  }

  .contacts.landing {
    background: #0F8B98 none repeat scroll 0 0;
  }
  
  .contacts h2 {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-weight: 600;
  }
  
  .contacts a {
    color: #fff;
  }
  
  .contacts a:hover {
    text-decoration: underline;
  }
  
  .contacts label {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .contacts input[type="text"], .contacts input[type="email"], .contacts textarea {
    background: rgba(255, 255, 255, 0.67) none repeat scroll 0 0;
    border: medium none;
    color: #5f5e5e;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
  }
  
  .contacts textarea {
    height: 115px;
  }
  
  .contacts input[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ffffff;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 5px 45px;
    -webkit-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
    margin-top: 30px;
  }
  
  .contacts input[type="submit"]:hover {
    color: #F46030;
    background: #fff;
  }
  
  
  .contacts input[name=iga_info_request_7531], .contacts label[for=iga_info_request_7531], .contacts input[name=captcha], .contacts label[for=captcha] {
      position: absolute;
      left: -9999px;
  }
  
  .contacts select {
    background-color: rgba(255, 255, 255, 0.67);
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    -webkit-appearance: none;
  }

/* Media query */
  @media all and (max-width: 1500px) {
    .container-fluid {
      padding: 0% 10%;
    }
  }

  @media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  }

  @media all and (max-width: 992px) {
    .container-fluid {
      padding: 0% 5%;
    }

    .container {
      max-width: 720px;
    }

    .left {
      padding-right: 10px;
    }
  
    .right {
      padding-left: 10px;
    }

    .titolo-btn-testo .landing-btn {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }


  @media all and (max-width: 768px) {
    .container {
      max-width: 540px;
    }

    .titolo-grande h2 {
      width: 100%;
    }
  }

  @media all and (max-width: 576px) {
    .container-fluid {
      padding: 0% 2%;
    }

    .container {
      width: 100%;
    }

  }